extends layout

block content
  h1= title
  p Welcome to #{title}
  each server in servers
      p
        //a(href="http://ec2-50-16-100-1.compute-1.amazonaws.com:9081/server/#{server}") #{server}
        a(href="http://ec2-50-16-100-1.compute-1.amazonaws.com:9086/#{server}") #{server}